body {
    margin: 0;
    padding:0;
    height: 100vh;
    background: gray
}

.button.is-ghost {
    color: white;
}

.checkbox {
    color: white;
    float: right;
    /* 
    margin-right: 10%; */
}