/* body {
    background-color: rgba(44, 41, 41, 0.993);
    height: 100vh;
} */
body {
    margin: 0;
    padding:0;
    height: 100vh;
    background: gray
}

.button.is-ghost {
    color: white;
}

.checkbox {
    color: white;
    float: right;
    /* 
    margin-right: 10%; */
}